
.main-content__section {
    margin: 0 0 20px;
}

.main-content {
    margin: 0 0 20px;
}

.main-content .header{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 17px;
    line-height: 1.5em;
}


.main-content .content{
    font-size: 13px;
}

.content-empty{
    text-align: center;
}

.main-content__section .heading {
    height: 40px;
    padding-top: 20px;
    padding-bottom: 2px;
    margin-bottom: 13px;
    font: 25px 'PTSansBold', sans-serif;
    background: url('../icons/icon-rc/line-separator.gif') repeat-x 0 50%;
    color: #ea5f1b;
    text-align: center;
}

.main-content__section .heading span {
    background: #fff;
    padding: 0 30px;
}

.main-content__section .more-link {
    display: block;
    text-align: right;
    margin: -32px 0 8px;
}

.main-content__section .more-link a {
    color: #2968c1;
    text-decoration: underline;
}

.slider-holder {
    position: relative;
    overflow: hidden;
    margin: 0 -50px;
    padding: 0 50px;
    font-size: 0;
}

.scrollWrapper {
    position: relative;
    overflow: hidden;
}

.scrollableArea {
    position: relative;
    width: 975px;
    height: 300px;
}

.book-item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 160px;
    height: 300px;
    padding-right: 30px;
    /*margin: 0 0 38px;*/
    font-size: 12px;
    margin-bottom: 20px;
}

.book-item .title {
    display: block;
    height: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.book-item .price {
    display: block;
    font: 18px 'PTSansBold', Arial, Helvetica, sans-serif;
}

.item-image {
    height: 217px;
    width: 100%;
}

.slider-holder a {
    text-decoration: underline;
}

.item-image-view {
    display: block;
    margin: 0 0 14px;
    width: 100%;
    height: 100%;
}

.item-image-view img{
    width: 100%;
    height: 100%;
    border: 1px solid #cfcfcf;
}

.slider-holder a {
    text-decoration: underline;
}

.item-content a{
    text-decoration: none;
    color: #000;
}

.item-h1 {
    font-size: 13px;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.item-h0 {
    font-size: 15px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.item-sum {
    text-align: left;
    font-size: 18px;
}

.item-sum-total {
    text-align: left;
    font-size: 19px;
    font-weight: bold;
}

.slider-holder a {
    text-decoration: underline;
}


