

.container-left {
    display: table-cell;
    width: 21%;
    vertical-align: top;
    align-self: center;
    text-align: center;
}

.container-right {
    display: table-cell;
    vertical-align: top;
}

.container-header{
    display:block;
    margin-top: 20px;
}

.action-section .price {
    padding: 5px 6px 10px 6px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #45465b;
}



.action-section {
    float: left;
}

/*****************************************************************************************************/
/**/
/*****************************************************************************************************/

.highlight{
    font-size: 20px;
    color:orange;
    font-weight: bold;
}


.header-h1{
    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #45465b;
    font-size: 18px;
    line-height: 1.8em;
}

.header-h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #45465b;
    font-size: 16px;
    line-height: 1.8em;
}

.property-list {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height:1.5em;
}

.description .text1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.2em;
}

.description .h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: #222;
    line-height:1.2em;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

img.image-view {
    width: 150px;
    height: 211px;
    padding: 5px 15px 5px 15px;
}

.image-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}






