
.cart-icon {
    float: left;
    background: url('../icons/cart/cart.png') no-repeat;
    width: 55px;
    height: 55px;
    margin-left: 5px;
    margin-top: 5px;
}

.cart-info {
    float: left;
    font-size: 14px;
    height: 70px;
}

.cart-info-goods {
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    height: 1em;
}

.cart-info-sum {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 6px;
    margin-left: 10px;
    height: 1em;
}