
.catalog-section {
    display: block;
}

.catalog-branch {
    float: left;
    width: 280px;
}

.branch-header {
    padding-top: 5px;
    padding-bottom: 5px;

    color: #2f777b;
    font-size: 16px;
    font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bold;
}

.branch-level-h1,
.branch-level-h2 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

ul.branch-level-h1 {
    list-style-type: circle;
    color: #2f777b;
}

ul.branch-level-h2 {
    list-style-type: none;
    padding-left: 15px;
}

.li{
    text-align: -webkit-match-parent;
}
