
body {
    margin:0;
    padding: 0;
    border: 0;
    background: #f1f1f1;
}

body {
    line-height: 1;
    text-align: left;
}

body, input, button, textarea {
    font-family: arial,sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    height: 100%;
}

.wrapper-body {
    top: 0;
    left: 0;

}

.wrapper-body1200 {
    display: block;
    position: relative;
    max-width: 1000px;
    min-width: 751px;
    text-align: left;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

.page-content{
    padding-left: 15px;
    padding-right: 15px;
    min-height: 150%;
    overflow: hidden;
}

@-moz-document url-prefix() {
    .page-content{
        height: 150%;
        overflow: auto;
    }
}

.clear_float{
    clear:both;
}

.footer{
    display: block;
    border-bottom: dotted 2px;
    border-top: dotted 2px;
    width: 100%;
    height: 22%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.footer-column{
    float: left;
    width: 25%;
}
.footer-column li{
    line-height: 1.7em;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-column h1{
    line-height: 1.2em;
    margin-left: -15px;
    color: #ea5f1b;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/*==================================================================*/
/*HREF*/
/*==================================================================*/

a {
    cursor: pointer;
    outline: none;
}

a {
    color: #2e3a47;
    text-decoration: none;
    background: transparent;
}

/*==================================================================*/
/*FONT*/
/*==================================================================*/

b, strong {
    color: #000000;
    font-weight: 400;
}

b, strong {
    font-weight: bold;
}

.price em,
.sum em,
.count em{
    font-style: normal;
    font-size: 65%;
}

/*==================================================================*/
/*IMAGES*/
/*==================================================================*/

.book-img100 {
    width: 70px;
    height: 103px;
}

.book-img60 {
    width: 35px;
    height: 51px;
}

/*==================================================================*/
/*TABLES*/
/*==================================================================*/

.itable {
    border: solid 1px;
    width: 100%;
}

.itable-item {
    font-size: 13px;
    height: 1.8em;
}

.itable-item a{
    text-decoration: underline;
}

.itable-item th{
    padding: 1px 5px 1px 5px;
    overflow: hidden;
    border-bottom:solid 1px ;
    text-align: left;
}

.itable-item td{
    padding: 1px 5px 1px 5px;
    overflow: hidden;
    text-align: left;
}

.itable-item .sum {
    text-align: right;
}

/*==================================================================*/
/*TABLE-LIST*/
/*==================================================================*/

table {
    background-color: #FFFFFF;
}

table.list {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-size: inherit;
}

table.list {
    border-top: 1px solid #333;
    border-left: 1px solid #333;
}

table.list td {
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}


table.list .left {
    text-align: left;
    padding: 7px;
}

table.list .right {
    text-align: right;
    padding: 7px;
}

table.list tbody td {
    min-height: 1.5em;
}

table.list thead td {
    padding: 0px 5px;
}

table.list thead td a, .list thead td {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}

table.list tbody td {
    padding: 0px 5px;
}

/*==================================================================*/
/*BUTTONS*/
/*==================================================================*/

.clear{
    background: none;
    border: none;
}

.ibutton-red {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;

    outline: none;
    border-radius: 5px;
    border: 2px solid #F64C2B;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

.btn {
    height: 34px;
    line-height: 24px;
    border: 0;
    outline: 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    border-radius: 5px;

    cursor: pointer;
}

.ibutton-orange {
    color: #fff;
    background-color: #e85849;
}

.ibutton-grey {
    background-color: #979797;
    color: #fff;
}

.ibutton-panel a{
    margin-top: 5px;
}

.ibutton-panel button{
    margin-top: 5px;
}

.ibutton-buy {
    padding-left: 2em;
    padding-right: 2em;
    height: 2em;
    line-height: 2em;
    font-size: 16px;
}

.ibutton-quickbuy {
    background: url("../icons/button/btn_buy.png") no-repeat scroll 5px 0 rgba(0, 0, 0, 0);
    bottom: 0;
    color: #fff;
    display: block;
    font-size: 15px;
    position: absolute;
    right: 30px;
    text-align: center;
    width: 70px;
    height: 25px;
    border: dotted 1px;
    cursor: pointer;
}

.ibutton-checkout {
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 1.85em;
    width: 94%;
    font-size: 14px;
}

.ibutton-registration {
    width: 192px;
    padding: 5px 0px;
}

.ibutton-reg-reset {
    width: 155px;
    padding: 5px 0px;
}

.ibutton-goto-shoping {
    display: block;
    background: url('../icons/button/btn_back.png') no-repeat 0 0 transparent;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    height: 31px;
    font-size: 14px;
    padding-left: 40px;
}


.ibutton-reduce {
    position: relative;
    right: 0;
    background: url('../icons/button/btn_countPlus.png') no-repeat center center transparent;
}

.ibutton-increase {
    position: relative;
    left: 0;
    background: url('../icons/button/btn_countMinus.png') no-repeat center center transparent;
}

.ibutton-reduce,.ibutton-increase {
    top: 0;
    border: 0;
    height: 15px;
    width: 14px;
    cursor: pointer;
}

.ibutton-delete {
    display: block;
    width: 16px;
    height: 15px;
    background: url('../icons/button/btn_delete.png') no-repeat 0 0 transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.ibutton-print {
    width: 125px;
    border-bottom: dashed 1px;
    padding-bottom: 3px;
    border-color: #488274;
}

/*==================================================================*/
/*TOP-HEADER-MENU*/
/*==================================================================*/

.topheader-section {
    width: 100%;
    height: 29px;
    overflow: hidden;
    border-bottom: dotted 2px ;
    font-size: 13px;
}

.topheader-navigation {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    outline: 0;
    border: 0;
    padding: 0;
}

.topheader-user {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    border: 0;
    padding: 0;
}

/*==================================================================*/
/*LEFT-VERTICAL-MENU*/
/*==================================================================*/

.hmenu2{
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    height: 26px;
}

.hmenu2 li{
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    float: left;
    position: relative;
    z-index: 5;
    background: none;
}

.hmenu2 a{
    text-decoration: none;
    color: inherit;
}

.hmenu2-action-topheader {
    padding: 0 14px;
    margin: 0 4px;
    line-height: 26px;
    text-align: center;
    color:#000;
}

/*==================================================================*/
/*HORIZONTAL-CATALOG-MENU*/
/*==================================================================*/

.hmenu-main{
    display: block;
    width: 100%;
    /*height: 30px;*/
    border-top: dotted 2px;
    border-bottom: dotted 2px;
    border-color: #2f777b;
}

.hmenu-main .item-catalog {
    cursor: pointer;
    min-width: 60px;
}


.navsite{
    display: block;
    margin: 6px 3px 6px 3px;
}

.navsite-a{
    text-decoration: none;
}

.navsite_icon{
    font-size: 32px;
    height: 1em;
    margin: 5px 0 5px 0;
    background-position-x: 50%;
    background-repeat: no-repeat;
    color: #000;
}

.icon-computer{
    background-image:url("../icons/menu/computer.png") ;
}

.icon-economy{
    background-image:url("../icons/menu/economy.png") ;
}

.icon-design{
    background-image:url("../icons/menu/design.png") ;
}

.icon-technique{
    background-image:url("../icons/menu/technique.png") ;
}

.icon-hobby{
    background-image:url("../icons/menu/hobby.png") ;
}

.icon-psy{
    background-image:url("../icons/menu/psy.png") ;
}

.icon-low{
    background-image:url("../icons/menu/low.png") ;
}

.icon-science{
    background-image:url("../icons/menu/science.png") ;
}

.icon-medicine{
    background-image:url("../icons/menu/spa32.png") ;
}

.icon-imaginative{
    background-image:url("../icons/menu/imaginative.png") ;
}

.icon-cognitive{
    background-image:url("../icons/menu/cognitive.png") ;
}

.navsite-text{
    font-size: 10px;
    height: 2em;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

/*==================================================================*/
/*HEADER*/
/*==================================================================*/

.header-section {
    display: block;
    width: 100%;
    height: 80px;
}

.logo-area{
    display: block;
    float:left;
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    padding:5px 5px 5px 20px;
    border-right: 1px solid #e8e8e8;
}

.logo-img{
    background: url('../icons/logo/logo.jpg') no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.search-area{
    float:left;
    width: 65%;
    height: 100%;
    padding:5px;
    box-sizing: border-box;
    border-right: 1px solid #e8e8e8;
}

.cart-area {
    float:left;
    width: 20%;
    height: 100%;
    padding:5px;
    box-sizing: border-box;
}


.contacts{
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
}

.contacts-item {
    margin: 5px 0;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    color: #004B91;
    text-align: center;
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    font-size: 14px;
}


.search{
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
}

.search-field{
    height: 30px;
    padding: 0 10px;
    float: left;

    border: 1px solid #cfcfcf;
    vertical-align: middle;
    color: #777;
    width: 400px;
    background: #EFEFEF;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

.search-button{
    height: 28px;
    width: 28px;
    cursor: pointer;
    background: url(../icons/button/search.png) center right no-repeat;
    float: left;
    border: 1px solid #cfcfcf;


    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;

}

/*==================================================================*/
/*                          HEADER2                                 */
/*==================================================================*/

.books-section{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.books-section-path{
    color: #ea5f1b;
}

.content-header {
    display: block;
    color: #ea5f1b;
    font: 25px 'PTSansBold', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.content-body{
    display: block;
    width: 100%;
    margin: auto;
}

.content-body-left {
    position: relative;
    float: left;
    width: 45%;
    box-sizing: border-box;
    padding: 1px;
    height:auto;
}

.content-body-right {
    position: relative;
    float: left;
    width: 55%;
    box-sizing: border-box;
    padding: 1px;
    height:auto;
}

.content-body-left2 {
    position: relative;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 1px;
}

.content-body-right2 {
    position: relative;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 1px;
    padding-top: 20px;
    padding-left: 10%;
}

