.hmenu {
    float: left;
    border-right: 1px solid #e8e8e8;
    padding-left: 10px;
    padding-right: 10px;
    width: 15%;
    box-sizing: border-box;
}

.hmenu-content {
    float: left;
    padding-left: 15px;
    padding-top: 5px;
    width: 85%;
    box-sizing: border-box;
}

.hmenu .menu-item {
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hmenu .select {
    border: solid 1px;
    border-radius: 20px;
}

.menu-item a{
    text-decoration: none;
    color: inherit;
}

.profile-item {
    line-height: 1.6em;
    clear: both;
}

.profile-item .c1 {
    float: left;
    vertical-align: top;
    width: 35%;
}

.profile-item .c2 {
    float: left;
    vertical-align: top;
    width: 65%;
}



